<nav class="navbar navbar-inverse topNav" >
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">
                <span class="navbar-brand-text">Venta de Boletos</span>
            </span>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a style="width:150px">Tickets...<i class="fa fa-ticket" aria-hidden="true"></i></a></li>
            <li ><a>Usuarios...<i class="fa fa-users inconmenu" aria-hidden="true" ></i></a></li>
            <li>
                <a href="#">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </li>
            <li>
                <a href="#" > Cerrar Sesión</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="text-right">
        Bienvenido, Jose Luis
    </div>
</div>